{{ if and (eq .chezmoi.os "darwin") (hasKey .packages "darwin") -}}
#!/bin/bash

set -eufo pipefail

{{- $darwin := index .packages "darwin" -}}
{{- $brews := index $darwin "brews" -}}
{{- $casks := index $darwin "casks" -}}

/opt/homebrew/bin/brew bundle --file=/dev/stdin <<EOF
{{- range $name := ($brews | sortAlpha | uniq) }}
brew "{{ $name }}"
{{- end }}
{{- range $name := ($casks | sortAlpha | uniq) }}
cask "{{ $name }}"
{{- end }}
EOF
{{ end -}}
