{{/* boolean feature tags */}}
{{- $docker := false -}}{{/* true if this machine should have Docker installed */}}
{{- $ephemeral := false -}}{{/* true if this machine is ephemeral, e.g. a cloud or VM instance */}}
{{- $company := false -}}{{/* true if this machine is used for Company */}}
{{- $personal := false -}}{{/* true if this machine should have personal secrets */}}
{{- $homebrew := true -}}
{{- "" -}}

{{/* Default data values */}}
{{- $email := "grok.phantom@gmail.com" -}}
{{- $companyName := "" -}}
{{- $hostname := .chezmoi.hostname -}}
{{- "" -}}

{{/* Prompt */}}
{{- $docker = promptBoolOnce . "docker" "Is this a docker env?" -}}
{{- $company = promptBoolOnce . "company" "Is this a compny machine?" -}}
{{- $ephemeral = promptBoolOnce . "ephemeral" "Is this ephemeral?" -}}
{{- $personal = promptBoolOnce . "personal" "Is this personal?" -}}
{{- "" -}}

{{/* Setup for company */}}
{{- if $company -}}
{{-   $email = "chenlei4@sensetime.com" -}}
{{-   $companyName = "sensetime" -}}
{{- end -}}
{{- "" -}}

{{/* Setup for ephemeral */}}
{{- if $ephemeral -}}
{{-   $homebrew = false -}}
{{- end -}}
{{- "" -}}

{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}


[data]
    docker = {{ $docker }}
    ephemeral = {{ $ephemeral }}
    email = {{ $email | quote }}
    company = {{ $company }}
    hostname = {{ $hostname | quote }}
    personal = {{ $personal }}
    osid = {{ $osID | quote }}
    homebrew = {{ $homebrew }}
