{{/* boolean feature tags */}}
{{- $ephemeral := false -}}{{/* true if this machine is ephemeral, e.g. a cloud or VM instance */}}
{{- $company := false -}}{{/* true if this machine is used for Company */}}
{{- $homebrew := true -}}
{{- "" -}}

{{/* Default data values */}}
{{- $email := "grok.phantom@gmail.com" -}}
{{- $companyName := "" -}}
{{- $hostname := .chezmoi.hostname -}}
{{- $sudo := false -}}{{/* whether sudo is available */}}
{{- "" -}}

{{/* Prompt */}}
{{- $company = promptBoolOnce . "company" "Is this a compny machine?" -}}
{{- $ephemeral = promptBoolOnce . "ephemeral" "Is this ephemeral?" -}}
{{- $sudo = promptBoolOnce . "sudo" "Do you have sudo privileges on this machine?" -}}
{{- "" -}}

{{/* Setup for company */}}
{{- if $company -}}
{{-   $email = "chenlei@psirobot.ai" -}}
{{-   $companyName = "PsiBot" -}}
{{- end -}}
{{- "" -}}

{{/* Setup for ephemeral */}}
{{- if $ephemeral -}}
{{-   $homebrew = false -}}
{{- end -}}
{{- "" -}}

{{/* Homebrew requires sudo and non-ephemeral */}}
{{- if not $sudo -}}
{{-   $homebrew = false -}}
{{- end -}}
{{- "" -}}

{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}


[data]
    ephemeral = {{ $ephemeral }}
    email = {{ $email | quote }}
    company = {{ $company }}
    hostname = {{ $hostname | quote }}
    osid = {{ $osID | quote }}
    homebrew = {{ $homebrew }}
    sudo = {{ $sudo }}
