[".oh-my-zsh"]
    type = "archive"
    url = "https://github.com/ohmyzsh/ohmyzsh/archive/3604dc23e0d95b5ce9a3932838a7b103ef5ff0c1.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

[".oh-my-zsh/custom/plugins/fast-syntax-highlighting"]
    type = "archive"
    url = "https://github.com/zdharma-continuum/fast-syntax-highlighting/archive/3d574ccf48804b10dca52625df13da5edae7f553.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
    
[".oh-my-zsh/custom/plugins/zsh-vi-mode"]
    type = "archive"
    url = "https://github.com/jeffreytse/zsh-vi-mode/archive/08bd1c04520418faee2b9d1afbc410ee1a59a8f1.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

[".oh-my-zsh/custom/plugins/zsh-autosuggestions"]
    type = "archive"
    url = "https://github.com/zsh-users/zsh-autosuggestions/archive/85919cd1ffa7d2d5412f6d3fe437ebdbeeec4fc5.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

[".oh-my-zsh/custom/themes/powerlevel10k"]
    type = "archive"
    url = "https://github.com/romkatv/powerlevel10k/archive/v1.18.0.tar.gz"
    exact = true
    stripComponents = 1

[".vim_runtime"]
    type = "archive"
    url = "https://github.com/amix/vimrc/archive/46294d589d15d2e7308cf76c58f2df49bbec31e8.tar.gz"
    refreshPeriod = "168h"
    stripComponents = 1
    exact = true

[".vim/bundle/jedi-vim"]
    type = "git-repo"
    url = "https://github.com/davidhalter/jedi-vim.git"
    refreshPeriod = "168h"
    oneShot = true
    [".vim/bundle/jedi-vim".clone]
        args = ["--branch", "v0.11.2", "--single-branch", "--depth", "1", "--recurse-submodules", "--shallow-submodules"]

[".vim/bundle/webapi-vim"]
    type = "archive"
    url = "https://github.com/mattn/webapi-vim/archive/c7eec04aad31e1665164d8292d0ec8b5c3cc5a57.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

[".vim/bundle/supertab"]
    type = "archive"
    url = "https://github.com/ervandew/supertab/archive/8705ae0e43b34339c06328fa6dab24ecaf21aab6.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

[".vim/bundle/vim-oscyank"]
    type = "archive"
    url = "https://github.com/ojroques/vim-oscyank/archive/d67d76b2f19b868b70a1cf33a779d71dc092cb30.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

[".vim/bundle/fzf.vim"]
    type = "archive"
    url = "https://github.com/junegunn/fzf.vim/archive/b9624aa012ddcbae9e79964bfd30cc1fbe3cf263.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

[".vim/bundle/tagbar"]
    type = "archive"
    url = "https://github.com/preservim/tagbar/archive/7bfffca1f121afb7a9e38747500bf5270e006bb1.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

[".tmux"]
    type = "archive"
    url = "https://github.com/gpakosz/.tmux/archive/af33f07134b76134acca9d01eacbdecca9c9cda6.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

{{- if and (not .ephemeral) }}
{{-   $fontDir := "" }}
{{-   if eq .chezmoi.os "darwin" }}
{{-     $fontDir = "Library/Fonts" }}
{{-   else if eq .chezmoi.os "linux" }}
{{-     $fontDir = ".local/share/fonts" }}
{{-   end }}
{{-   range (list
        "MesloLGS NF Regular.ttf"
        "MesloLGS NF Bold.ttf"
        "MesloLGS NF Italic.ttf"
        "MesloLGS NF Bold Italic.ttf") }}
["{{ $fontDir }}/{{ . }}"]
    type = "file"
    url = "https://github.com/romkatv/powerlevel10k-media/raw/145eb9fbc2f42ee408dacd9b22d8e6e0e553f83d/{{ . }}"
    refreshPeriod = "168h"
{{-   end }}
{{- end }}
