{{ if and (eq .osid "linux-debian" "linux-raspbian" "linux-pop" "linux-ubuntu") (hasKey .packages "linux") -}}
{{- $linux := index .packages "linux" -}}
{{- $apt := index $linux "apt" -}}
{{- $classicSnaps := index $linux "snaps_classic" -}}

{{- $sudo := "sudo " -}}
{{- if eq .chezmoi.username "root" -}}
{{-   $sudo = "" -}}
{{- end -}}

#!/bin/bash

set -eufo pipefail

{{- if gt (len $apt) 0 }}
{{ $sudo }}apt-get update
{{ $sudo }}apt-get install -y {{ $apt | sortAlpha | uniq | join " " }}
{{- end }}

{{- if and (lookPath "snap") (gt (len $classicSnaps) 0) }}
{{-   range ($classicSnaps | sortAlpha | uniq) }}
{{ $sudo }}snap install --classic {{ . }}
{{-   end }}
{{- end }}

{{ end -}}
