{{ if and (eq .osid "linux-debian" "linux-raspbian" "linux-pop" "linux-ubuntu") (hasKey .packages "linux") -}}
{{- $linux := index .packages "linux" -}}
{{- $apt := index $linux "apt" -}}
{{- $classicSnaps := index $linux "snaps_classic" -}}
{{- $brews := list -}}
{{- if hasKey $linux "brews" -}}
{{-   $brews = index $linux "brews" -}}
{{- end -}}

{{- $sudo := "sudo " -}}
{{- if eq .chezmoi.username "root" -}}
{{-   $sudo = "" -}}
{{- end -}}

{{- $brew := "" -}}
{{- if lookPath "brew" -}}
{{-   $brew = "brew" -}}
{{- else if stat "/home/linuxbrew/.linuxbrew/bin/brew" -}}
{{-   $brew = "/home/linuxbrew/.linuxbrew/bin/brew" -}}
{{- end -}}

#!/bin/bash

set -eufo pipefail

{{- if gt (len $apt) 0 }}
{{ $sudo }}apt-get update
{{ $sudo }}apt-get install -y {{ $apt | sortAlpha | uniq | join " " }}
{{- end }}

{{- if and (lookPath "snap") (gt (len $classicSnaps) 0) }}
{{-   range ($classicSnaps | sortAlpha | uniq) }}
{{ $sudo }}snap install --classic {{ . }}
{{-   end }}
{{- end }}

{{- if and .homebrew (gt (len $brews) 0) (ne $brew "") }}
{{-   range ($brews | sortAlpha | uniq) }}
{{ $brew }} install {{ . }}
{{-   end }}
{{- end }}

{{ end -}}
