[user]
	name = Lei Chen
	email = {{ .email }}
[core]
	autocrlf = input
	pager = less -FX
[init]
	defaultBranch = main
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[fetch]
	prune = true
[diff]
	colorMoved = default
{{- if not .ephemeral }}
[url "git@github.com:grok-phantom/"]
	insteadOf = https://github.com/grok-phantom/
{{- end -}}
{{/* vim: set filetype=gitconfig: */}}
