{{- $name := (get . "git_name") | default "" -}}
{{- $email := (get . "email") | default "" -}}
{{ if or $name $email -}}
[user]
{{ if $name }}
    name = {{ $name | quote }}
{{ end }}
{{ if $email }}
    email = {{ $email | quote }}
{{ end }}
{{ end -}}
[core]
	autocrlf = input
	pager = less -FX
[init]
	defaultBranch = main
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[fetch]
	prune = true
[diff]
	colorMoved = default
[include]
    path = ~/.config/git/local.conf
{{/* vim: set filetype=gitconfig: */}}
