[user]
	name = Lei Chen
	email = {{ .email }}
{{- if not .ephemeral }}
[url "git@github.com:grok-phantom/"]
	insteadOf = https://github.com/grok-phantom/
{{- end -}}
{{/* vim: set filetype=gitconfig: */}}
